<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>golum</title>
</head>

<body>
    <h1>
        Clientes
    </h1>
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellidos
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (cliente of datos){ %>
                <tr>
                    <td><%= cliente.nombre %></td>
                    <td><%= cliente.apellidos %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>