<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludo</title>
</head>

<body>
    <% if(hora> 12){ %>
        <h1>Buenas tardes</h1>
        <%}else{ %>
        <h2>Buenos dias</h2>
    <% } %>
</body>

</html>